acme
aiofiles
aiosqlite
annotated-types
anyascii
anyio
appdirs
asgiref
audioread
auditok
backports.zoneinfo
bcp47
beautifulsoup4
blinker
boto3
botocore
certbot
certbot-nginx
certifi
cffi
channels
chardet
charset-normalizer
click
cmake
colorama
ConfigArgParse
configobj
cryptography
dashboard
databases
dbus-python
decorator
defer
defusedxml
distlib
distro
distro-info
Django
django-allauth
django-appconf
django-cogwheels
django-cors-headers
django-cors-middleware
django-enumchoicefield
django-filter
django-http-proxy
django-keys
django-mirage-field
django-modelcluster
django-nullmailer
django-permissionedforms
django-ranged-response
django-recaptcha
django-simple-captcha
django-simpleui
django-taggit
django-treebeard
djangorestframework
draftjs-exporter
entrypoints
et-xmlfile
exceptiongroup
fastapi
filelock
filetype
ftfy
future
greenlet
gunicorn
h11
html5lib
HTMLParser
httplib2
idna
importlib-metadata
Jinja2
jmespath
joblib
josepy
keyring
l18n
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lazy_loader
librosa
lit
llvmlite
load-dotenv
macaroonbakery
MarkupSafe
mock
more-itertools
mpmath
msgpack
netifaces
networkx
nltk
numba
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
openpyxl
orm
packaging
parsedatetime
pbr
Pillow
pooch
protobuf
pycairo
pycparser
pycups
pydantic
pydantic_core
pydub
PyGObject
PyICU
PyJWT
pymacaroons
PyMySQL
PyNaCl
pyOpenSSL
pyparsing
pyRFC3339
python-apt
python-dateutil
python-dotenv
python-Levenshtein
python-magic
python-multipart
python3-openid
pytz
PyYAML
regex
requests
requests-oauthlib
requests-toolbelt
requests-unixsocket
Resemblyzer
s3transfer
scikit-learn
scipy
SecretStorage
simplejson
six
sniffio
soundfile
soupsieve
soxr
SQLAlchemy
sqlparse
starlette
sympy
systemd-python
tablib
telepath
threadpoolctl
tk
tokenizer
torch
tqdm
triton
typesystem
typing
typing_extensions
ubuntu-advantage-tools
unattended-upgrades
unicode
Unidecode
uritemplate
urllib3
uvicorn
uWSGI
virtualenv
wadllib
wagtail
wagtail-django-recaptcha
wagtail-generic-chooser
wagtailgmaps
wagtailmenus
wagtailvideos
wcwidth
webencodings
webrtcvad
Willow
xlrd
XlsxWriter
xlwt
zipp
zope.component
zope.event
zope.hookable
zope.interface
