acme==1.1.0
aiofiles==23.2.1
aiosqlite==0.19.0
annotated-types==0.5.0
anyascii==0.3.2
anyio==3.7.1
appdirs==1.4.3
asgiref==3.6.0
audioread==3.0.0
auditok==0.2.0
backports.zoneinfo==0.2.1
bcp47==0.0.4
beautifulsoup4==4.11.2
blinker==1.4
boto3==1.28.11
botocore==1.31.11
certbot==0.40.0
certbot-nginx==0.40.0
certifi==2022.12.7
cffi==1.15.1
channels==4.0.0
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.6
cmake==3.27.0
colorama==0.4.5
ConfigArgParse==0.13.0
configobj==5.0.6
cryptography==40.0.2
cupshelpers==1.0
dashboard==0.0.6
databases==0.8.0
dbus-python==1.2.16
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
distlib==0.3.0
distro==1.4.0
distro-info==0.23+ubuntu1.1
Django==4.1.8
django-allauth==0.54.0
django-appconf==1.0.5
django-cogwheels==0.3
django-cors-headers==3.9.0
django-cors-middleware==1.5.0
django-enumchoicefield==3.0.1
django-filter==22.1
django-http-proxy==0.4.3
django-keys==1.0.4
django-mirage-field==1.4.0
django-modelcluster==6.0
django-nullmailer==0.3
django-permissionedforms==0.1
django-ranged-response==0.2.0
django-recaptcha==3.0.0
django-simple-captcha==0.5.17
django-simpleui==2021.8.17
django-taggit==3.1.0
django-treebeard==4.7
djangorestframework==3.14.0
draftjs-exporter==2.1.7
entrypoints==0.3
et-xmlfile==1.1.0
exceptiongroup==1.1.2
fastapi==0.100.0
filelock==3.0.12
filetype==1.2.0
ftfy==6.1.3
future==0.18.2
greenlet==3.0.1
gunicorn==20.0.4
h11==0.14.0
html5lib==1.1
HTMLParser==0.0.2
httplib2==0.14.0
idna==3.4
importlib-metadata==1.5.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.1
josepy==1.2.0
keyring==18.0.1
l18n==2021.3
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy_loader==0.3
librosa==0.10.0.post2
lit==16.0.6
llvmlite==0.40.1
load-dotenv==0.1.0
macaroonbakery==1.3.1
MarkupSafe==2.1.3
mock==3.0.5
more-itertools==4.2.0
mpmath==1.3.0
msgpack==1.0.5
netifaces==0.10.4
networkx==3.1
nltk==3.8.1
numba==0.57.1
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
openpyxl==3.1.2
orm==0.2.0.dev1
packaging==23.1
parsedatetime==2.4
pbr==5.4.5
Pillow==9.5.0
pooch==1.6.0
protobuf==3.6.1
pycairo==1.16.2
pycparser==2.21
pycups==1.9.73
pydantic==2.1.1
pydantic_core==2.4.0
pydub==0.25.1
PyGObject==3.36.0
PyICU==2.4.2
PyJWT==2.6.0
pymacaroons==0.13.0
PyMySQL==1.1.0
PyNaCl==1.3.0
pyOpenSSL==22.1.0
pyparsing==2.4.6
pyRFC3339==1.1
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.8.2
python-dotenv==0.17.0
python-Levenshtein==0.12.2
python-magic==0.4.27
python-multipart==0.0.6
python3-openid==3.2.0
pytz==2023.3
PyYAML==5.3.1
regex==2023.12.25
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.8.0
requests-unixsocket==0.2.0
Resemblyzer==0.1.3
s3transfer==0.6.1
scikit-learn==1.3.0
scipy==1.10.1
SecretStorage==2.3.1
simplejson==3.16.0
six==1.16.0
sniffio==1.3.0
soundfile==0.12.1
soupsieve==2.4.1
soxr==0.3.5
SQLAlchemy==1.4.50
sqlparse==0.4.4
starlette==0.27.0
sympy==1.12
systemd-python==234
tablib==3.2.0
telepath==0.3
threadpoolctl==3.2.0
tk==0.1.0
tokenizer==3.3.2
torch==2.0.1
tqdm==4.65.0
triton==2.0.0
typesystem==0.3.0.dev0
typing==3.7.4.3
typing_extensions==4.7.1
ubuntu-advantage-tools==8001
unattended-upgrades==0.1
unicode==2.9
Unidecode==1.3.6
uritemplate==3.0.1
urllib3==1.26.15
uvicorn==0.23.1
uWSGI==2.0.23
virtualenv==20.0.17
wadllib==1.3.3
wagtail==5.1.1
wagtail-django-recaptcha==1.0
wagtail-generic-chooser==0.5.1
wagtailgmaps==1.0.1
wagtailmenus==3.1.8
wagtailvideos==4.2.0
wcwidth==0.2.13
webencodings==0.5.1
webrtcvad==2.0.10
Willow==1.6.2
xlrd==2.0.1
XlsxWriter==3.0.3
xlwt==1.3.0
zipp==1.0.0
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.0.0
zope.interface==4.7.1
